@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

$primaryFont: 'Roboto', sans-serif;

@font-face {
    font-family: 'Frontage-Regular';
    src: local('Frontage-Regular'), url(../Images/Frontage-Regular.ttf) format('truetype')
}
$funfont: 'Frontage-Regular';

$yellow: #F1C713;
$ltyellow: rgb(250, 226, 120);
$lteryellow: rgb(252, 243, 204);
$black: black;
$white: whitesmoke;
$grey: #444444;
$ltgrey: #9e9e9e;
$purple: purple;


* {
    margin: 0;
    padding: 0;
}
body {
    background-color: $white;
}