@import 'GlobalStyles.scss';

.quizContainer {
    margin: 100px auto 50px;
    text-align: center;
    padding: 0px 30px;
    position: relative;
    height: auto;
}
.quizWelcome {
    font-family: $funfont;
    font-weight: 400;
    font-size: 40px;
    width: auto;
    text-align: center;
    margin: 25px auto;
    letter-spacing: -5px;
}
.quoteContainer {
    height: 100px;
    // background-color: blue;
    font-family: $primaryFont;
    font-weight: 200;
    font-size: 40px;
}
.quoteFormContainer {
    margin: 25px auto 75px;
}
.quizWho {
    font-family: $primaryFont;
    font-weight: 300;
    font-size: 40px;
    width: auto;
    color: $grey;
    text-align: center;
    margin: 25px auto;
}
.randomQuote {
    font-family: $primaryFont;
    font-weight: 100;
    font-size: 30px;
    font-style: italic;
    width: auto;
    color: $black;
    text-align: center;
    margin: 25px auto 50px;
}
.answerContainer {
    margin: 50px auto 75px;
}
.answerButton {
    margin: 10px;
    padding: 10px 15px 5px;
    background-color: $yellow;
    font-family: $funfont;
    font-size: 20px;
}