@import 'GlobalStyles.scss';
.quizLogo {
    width: 300px;
    height: auto;
    margin: 10px auto;
    @media (min-width: 700px) {
        width: 450px;
    }
}
.playButton {
    margin: 40px auto 10px;
    padding: 10px 10px 5px;
    background-color: $yellow;
    font-family: $funfont;
    font-size: 34px;
    width: 200px;
    line-height: 1.4;
    letter-spacing: -4px;
    border-right: 10px solid $grey;
    border-left: 10px solid $ltyellow;
    border-top: 5px solid $ltyellow;
    border-bottom: 5px solid $grey;
    @media (min-width: 700px) {
        margin: 40px auto 10px;
    }
}
.readyPlay {
    h1 {
        font-family: $funfont;
        font-size: 30px;
        color: $purple;
        margin: 100px auto 5px;
        letter-spacing: -4px;
        @media (min-width: 700px) {
            font-size: 40px;
        }
    }
    h2 {
        font-family: $primaryFont;
        color: $grey;
        font-size: 20px;
        font-weight: 300;
        @media (min-width: 700px) {
            font-size: 30px;
        }
    }
}
.hidden {
    display: none
}
.quizContainer {
    margin: 70px auto 0px;
    text-align: center;
    padding: 0px 30px;
    position: relative;
    height: auto;
    @media (min-width: 700px) {
        margin: 100px auto 70px;

    }
}
.quizWelcome {
    font-family: $funfont;
    font-weight: 400;
    font-size: 30px;
    width: auto;
    text-align: center;
    margin: 5px auto;
    letter-spacing: -5px;
    @media (min-width: 700px) {
        font-size: 40px;
        margin: 25px auto;

    }
}
.quoteContainer {
    height: auto;
    // background-color: blue;
    font-family: $primaryFont;
    font-weight: 200;
    font-size: 40px;
    margin: 40px 5px;
    display: block;
    @media (min-width: 700px) {
        
    }
}
.quoteFormContainer {
    margin: 25px auto 75px;
    @media (min-width: 700px) {
        
    }
}
.quizWho {
    font-family: $primaryFont;
    font-weight: 300;
    font-size: 24px;
    width: auto;
    color: $purple;
    text-align: center;
    margin: 35px auto 5px;
    @media (min-width: 700px) {
        
    }
}
.randomQuote {
    font-family: $primaryFont;
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
    display:inline-block;
    width: 250px;
    color: $grey;
    text-align: center;
    margin: 5px auto ;
    padding: 5px 10px;
    position: relative;  
    height: auto;
    @media (min-width: 700px) {
        font-size: 26px;
        padding: 10px 15px;
        width: 550px;
    }
}
.quoteBrackets {
    display:inline-block;
    width: 300px;
    text-align: center;
    margin: 5px auto;
    background-color: #dedede;
    padding: 5px 10px;
    border: $grey 5px solid;
    position:relative;
    height: auto;
    &:before {
        background-color: #dedede;
        width: 300px;
        bottom: -5px;
        content: "";
        left: 15px;
        position: absolute;
        right: 15px;
        top: -5px;
    }
    > * {
        position: relative;
        z-index: 1;
    }
      @media (min-width: 700px) {
        width: 600px;
        &:before {
            width: 600px;
        }
    }
}
.answerContainer {
    margin: 15px auto 25px;
    width: 300px;
    @media (min-width: 700px) {
        width: 550px;
        margin: 20px auto 25px;
    }
    @media (min-width: 1000px) {
        width: 850px;
    }
}
.answer {
    margin: 35px auto 10px;
    display: block;
    font-family: $funfont;
    font-size: 20px;
    color: $purple;
    width: 200px;
    letter-spacing: -4px;
    @media (min-width: 500px) {
        width: 350px;
    }
    @media (min-width: 700px) {
        font-size: 30px;
        width: 500px;
        letter-spacing: -6px;
    }
}
.answerButton {
    margin: 5px 15px;
    padding: 10px 10px 5px;
    background-color: $yellow;
    font-family: $funfont;
    font-size: 14px;
    &:focus {
        background-color: $purple;
        color: $white;
        outline: none;
    }
}
.quizCharPhoto {
    width: 200px;
    display: block;
    margin: 10px auto;
    box-shadow: 3px 3px 10px $grey;
    -webkit-animation: swirl 0.6s ease-out both;
            animation: swirl 0.6s ease-out both;
    @media (min-width: 500px) {
        width: 300px;
    }
}
 @-webkit-keyframes swirl {
    0% {
      -webkit-transform: rotate(-540deg) scale(0);
              transform: rotate(-540deg) scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0) scale(1);
              transform: rotate(0) scale(1);
      opacity: 1;
    }
  }
  @keyframes swirl {
    0% {
      -webkit-transform: rotate(-540deg) scale(0);
              transform: rotate(-540deg) scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0) scale(1);
              transform: rotate(0) scale(1);
      opacity: 1;
    }
  }
.nextButton {
    margin: 0px auto;
    padding: 10px 10px 5px;
    background-color: $ltgrey;
    font-family: $funfont;
    font-size: 14px;
}
.tryAgain {
    margin: 15px auto 10px;
    display: block;
    font-family: $funfont;
    font-size: 16px;
    width: 200px;
    line-height: 1.3;
    color: $purple;
    -webkit-animation: shake 2s infinite ease-in;
    animation: shake 2s infinite ease-in;
    @media (min-width: 700px) {
        font-size: 24px;
        width: 500px;
    }
}
 @-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
      }
      5%, 15%, 25%, 35% {
        -webkit-transform: translateX(-8px);
                transform: translateX(-8px);
      }
      10%, 20%, 30% {
        -webkit-transform: translateX(8px);
                transform: translateX(8px);
      }
      40% {
        -webkit-transform: translateX(8px);
                transform: translateX(8px);
      }
      45% {
        -webkit-transform: translateX(-8px);
                transform: translateX(-8px);
      }
      50% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
        }
  }
  @keyframes shake {
    0%, 100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    5%, 15%, 25%, 35% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
    10%, 20%, 30% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    40% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    45% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
    50% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
      }
  }
  